@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.13rem;
    line-height: 1.5;
    color: #333333;
    background-color: #FAFAFA;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 800px) {
    .main-container {
        width: 900px;
    }
}

@media print {
    body {
        color: black;
        background: white;
        font-size: 12pt;
    }

    .main-container {
        box-shadow: none;
        background-color: white;
    }

    h1, h2 {
        color: black;
    }

    .hide-on-print {
        display: none;
    }
}

h1, h2 {
    font-weight: 700;
    color: #2A2A2A;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #333333;
}

hr {
    border: none;
    height: 1px;
    background-color: darkgray;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

strong {
    font-weight: bold;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.left-heading, .right-heading {
    flex-basis: 50%;
}

.right-heading {
    flex: 50%;
    /* font-size: 65%; */
    text-align: right;
    break-inside: avoid;
    font-size: 0.9rem;
    color: #666666;
}

.section {
    margin-bottom: 1rem;
}

.section-title {
    margin-bottom: 0.5rem;
}

.section-content, .section-content div {
    margin-bottom: 0.5rem;
}

.tape {
    display: flex;
}

.left-tape {
    flex: 80%;
    font-weight: bold;
}

.right-tape {
    flex: 20%;
    text-align: right;
    color: #666666;
}


.collection {
    font-weight: bold;

}

.left-division {
    width: 25%;
    float: left;
    /* font-size: 1.25rem; */
    /* font-weight: 800; */
    
}

.right-division {
    margin-left: 25%;
    /* Change this to whatever the width of your left column is*/
}

.clear-division {
    clear: both;
}

.exhibition-place {
    font-weight: normal;
    /* text-decoration: underline; optional, for additional emphasis */
}

.workshop-content {
    padding-left: 5%; /* Adjusts the left margin to indent the content */
    font-style: italic;
}


.collection-place {
    font-weight: normal;
    /* text-decoration: underline; optional, for additional emphasis */
}
